@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    text-decoration: none;
    list-style-type: none;
    color: #fff;
}

body {
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: radial-gradient(75% 75% at 50% 50%, #12571EFF 0%, #050505FF 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-transform: uppercase;
    margin-top: 2rem;
}

#addTransactionForm {
    margin: 30px;
    color: #333;
}

#addTransactionForm input {
    padding: 10px;
    color: #333;
    /* border-radius: 8px; */
    font-size: 1.1rem;
    box-shadow: 22px 19px 37px 5px rgba(0,0,0,0.71);
}
#addTransactionForm select {
    padding: 10px;
    color: #333;
    /* border-radius: 8px; */
    font-size: 1.1rem;
    box-shadow: 22px 19px 37px 5px rgba(0,0,0,0.71);
}

#addTransactionForm option {
    color: #333;
    font-size: 1.1rem;
}

#addTransactionForm button {
    padding: 10px;
    color: #333;
    /* border-radius: 8px; */
    font-size: 1.1rem;
    box-shadow: 22px 19px 37px 5px rgba(0,0,0,0.71);
}

#transactionList {
    margin: 20px;
}

#transactionList >li {
    width: 100%;
    margin: 10px;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: #e71b1b;
    color: #fff;
}

#revenuList {
    margin: 20px;
}

#revenuList >li {
    width: 100%;
    margin: 10px;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: #31ab21;
    color: #fff;
}

#containerType {
    display: flex;
    gap: 80px;
    
}

table {
    font-size: 1.1rem;
    box-shadow: 22px 19px 37px 5px rgba(0,0,0,0.71);
}

td {
    padding: 10px;
    background-color: #222;
    text-align: center;
}

th {
    padding: 10px;
    background-color: #222;
}

button:hover {
    background-color: #a3a0a0;
    
}

#valid:hover {
    color: #fff;
}

#totalDepense {
    color: #fff;
}

#totalDepense {
    width: 100%;
    margin: 10px;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: #e71b1b;
    color: #fff;
}

#total-depense {
    margin: 10px;
}

#totalRevenu {
    width: 100%;
    margin: 10px;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: #31ab21;
    color: #fff;
}

#total-revenu {
    margin: 10px;
}

#dashboard {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.card {
    background-color: #222;
    padding: 1.5rem;
    /* border-radius: 10px; */
    border: 1px solid #777;
    font-size: 1.1rem;
    min-width: 150px;
    color: #fff;
    box-shadow: 22px 19px 37px 5px rgba(0,0,0,0.71);
}

#graphe {
    margin-top: 3rem;
}

canvas {
    margin-bottom: 5rem ;
    color: #fff;
    background-color: #fff;
    box-shadow: 22px 19px 37px 5px rgba(0,0,0,0.71);
}